node_modules
.next/cache/webpack/edge-server-production/index.pack.old
.next/cache/.tsbuildinfo
.next/app-build-manifest.json
.next/server/server-reference-manifest.js
.next/server/server-reference-manifest.json
.next/server/webpack-runtime.js
.next/server/app/center/page_client-reference-manifest.js
.next/server/app/center/page.js
.next/server/app/discover/page_client-reference-manifest.js
.next/server/app/discover/page.js
.next/server/app/learn/page_client-reference-manifest.js
.next/server/app/learn/page.js
.next/server/app/orders/page_client-reference-manifest.js
.next/server/app/orders/page.js
.next/server/app/trade/page_client-reference-manifest.js
.next/server/app/trade/page.js
.next/server/vendor-chunks/lucide-react.js
.next/server/vendor-chunks/next.js
.next/server/vendor-chunks/@swc.js
.next/static/chunks/app-pages-internals.js
.next/static/chunks/main-app.js
.next/static/chunks/webpack.js
.next/static/chunks/app/layout.js
.next/static/chunks/app/center/page.js
.next/static/chunks/app/discover/page.js
.next/static/chunks/app/learn/page.js
.next/static/chunks/app/orders/page.js
.next/static/chunks/app/trade/page.js
